server:
  port: 8761
eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false #Whether to register oneself to the Eureka Server, default true, single server
    fetch-registry: false
    service-url:
      default-zone: http://${eureka.instance.hostname}:${server.port}/eureka/ #Separator by comma: url_1,url_2,...
spring:
  application:
    name: eureka-server-01
  security:
    user:
      name: leo
      password: leo
